/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  background: #FFF; }

img.ajaxLoader {
  display: block;
  margin: 0 auto; }

header {
  background: #444;
  color: #FFF;
  border-bottom: 2px solid red;
  margin: 0 0 10px 0; }
  header .logo {
    font-size: 22px;
    margin-top: 20px; }
  header nav {
    text-align: right; }
    header nav a {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      color: #FFF;
      display: inline-block;
      padding: 20px 10px; }
      header nav a:hover {
        background: black;
        color: white;
        text-decoration: none;
        border-left: 1px solid red;
        border-right: 1px solid red; }

div.content.container {
  padding: 20px; }
  div.content.container h1 {
    font-size: 22px;
    text-transform: uppercase; }

footer {
  background: #444;
  color: #FFF;
  border-top: 2px solid red;
  margin: 10px 0 0; }
  footer .copyright {
    font-size: 10px;
    margin-top: 20px; }
  footer nav {
    text-align: right; }
    footer nav a {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      color: #FFF;
      display: inline-block;
      padding: 20px 10px; }
      footer nav a:hover {
        background: red;
        color: white;
        text-decoration: none;
        border-left: 1px solid black;
        border-right: 1px solid black; }
