<html>
	<head>
		<!--BOWER DEP JS -->
		<script type="text/javascript" src="bower_components/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
		<script type="text/javascript" src="bower_components/angular-ui-router/urlRouter.js"></script>
		
		<!-- CSS -->
		<!--<link rel="stylesheet/less" type="text/css" href="assets/bower_components/bootstrap.less"/>-->
		<link rel="stylesheet" type="text/css" href="assets/bower_components/bootstrap.css"/>
		<link rel="stylesheet" type="text/css" href="assets/styles/reset.scss"/>
	</head>
	<body class="container-fluid">
		<header class="container">
			<div class="row-fluid">
				<div class="logo span3">UNFOL.IO</div>
				<nav class="span9">
					<a href="#">Home</a>
					<a href="#">My Profile</a>
					<a href="#">Nav Item 3</a>
					<a href="#">Nav Item 4</a>
					<a href="#">Nav Item 5</a>
				</nav>
			</div>
		</header>
		<ng-view></ng-view>
		
		<script type="text/javascript" src="bower_components/ui-bootstrap.min.js"></script>
		<script type="text/javascript" src="bower_components/ui-bootstrap-tpls.min.js"></script>
		
	</body>
</html>